*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml

# docs
/docs/build/
/docs/node_modules/
/docs/package.json/


/dev/

#VSCode
.vscode
*.code-workspace

# Mac stuff
.DS_Store

# Flyer et al. script to test
*.m

docs/package.json
docs/package-lock.json
